.social-links {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.social-icon {
  width: 2.5rem;
  height: 2.5rem;

  color: var(--color-grey-primary);

  transition:
    color 0.2s ease,
    transform 0.2s ease,
    opacity 0.2s ease;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a:hover .social-icon {
  color: var(--color-green-secondary);
  transform: translateY(-2px);
}

.social-links a:active .social-icon {
  transform: translateY(0);
}
